<%- include header %>
<div class="login">
	<h1>Login</h1>
     <form method="post">
     	username:<input type="text" name="name"><br>
     	password:<input type="text" name="password"><br>
		<input type="submit" name="" value="登陆">
     </form>
</div>
	

<%- include footer %>
