<%- include header %>

<div class="indexDiv">
    <form method="post">
        Content Title<input type="text" name="title" placeholder="please input your title"><br>
        Content Name <input type="text" name="name" placeholder="please input your name"><br>
        Content <textarea name="post" rows="20" cols="100" placeholder="please input your content"></textarea><br>
        <input type="submit" value="Submit" class="button"><br>
    </form>
</div>

<%- include footer %>
