<%- include header %>

	<div class="indexDiv">
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<form method="post">
			username:<input type="text" name="name"><br>
			password:<input type="text" name="password"><br>
			password:<input type="text" name="password-repeat"><br>
			email:<input type="text" name="email"><br>
		<input type="submit" name="" value="register">
		</form>
	</div>
	   
<%- include footer %>
