body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
	color: deepskyblue;
}

.nav {
	float: left;
	width: 40px;
	line-height: 40px;
}

.indexDiv {
	margin-left: 150px;
}

nav {
	float: left;

	background-color: #00B7FF;
}

nav span {
	margin: 10px 20px;
}

a{
	text-decoration:none;
}

a:link {
	color: #ffffff;
}

a:visited {
	color: #fff;
}

a:hover {
	color: #000;

}


.login {
	margin-left: 100px;
}

.lf {
	float: left;
}

.rf {
	float: right;
}

.button {
	background-color: orange;
	color: #ffffff;
	font-size: 18px;
	border: none;
}


