body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav {
	float: left;
	width: 40px;
	line-height: 40px;
}

.indexDiv {
	margin-left: 100px;
}

nav {
	float: left;
}

.login {
	margin-left: 100px;
}

.lf {
	float: left;
}

.rf {
	float: right;
}


